<span>
	{% if site.owner.twitter %}
		<a href="http://twitter.com/{{ site.owner.twitter }}"><i class="fa fa-fw fa-twitter fa-2x"></i></a>
	{% endif %}
	
	{% if site.owner.facebook %}
		<a href="http://facebook.com/{{ site.owner.facebook }}"><i class="fa fa-fw fa-facebook fa-2x"></i></a>
	{% endif %}
	
	{% if site.owner.google_plus %}
		<a href="https://google.com/{{ site.owner.google_plus }}"><i class="fa fa-fw fa-google-plus fa-2x"></i></a>
	{% endif %}
	
	{% if site.owner.linkedin %}
		<a href="http://ie.linkedin.com/pub/tom-molloy/81/275/b5a"><i class="fa fa-fw fa-linkedin fa-2x"></i></a>
	{% endif %}
	
	{% if site.owner.github %}
		<a href="http://github.com/{{ site.owner.github }}"><i class="fa fa-fw fa-github fa-2x"></i></a>
	{% endif %}
	
	{% if site.owner.stackexchange %}
		<a href="{{ site.owner.stackexchange }}"><i class="fa fa-fw fa-stack-exchange fa-2x"></i></a>
	{% endif %}
	
	{% if site.owner.instagram %}
		<a href="http://instagram.com/{{ site.owner.instagram }}"><i class="fa fa-fw fa-instagram fa-2x"></i></a>
	{% endif %}
	
	{% if site.owner.flickr %}
		<a href="http://www.flickr.com/photos/{{ site.owner.flickr }}"><i class="fa fa-fw fa-flickr fa-2x"></i></a>
	{% endif %}
	
	{% if site.owner.tumblr %}
		<a href="http://{{ site.owner.tumblr }}.tumblr.com"><i class="fa fa-fw fa-tumblr fa-2x"></i></a>
	{% endif %}
</span>
<br>
<br>
<span>&copy;{{ site.time | date: '%Y' }} {{ site.owner.name }}.</span>
