.highlight {
	margin-bottom: 1.5em;
	@include font(12);
	color: #d0d0d0;
	border: 1px solid darken($body-color, 5);
	background-color: #272822;
	@include rounded(3px);
	pre {
		position: relative;
		margin: 0;
		padding: 1em;
	}
	
}